<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="~/CSS/Admin/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="~/CSS/Admin/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/CSS/Admin/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/CSS/Admin/_all-skins.min.css" rel="stylesheet" />
    <link href="~/CSS/Admin/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/CSS/Admin/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert2.min.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>N</b>-5</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Nhóm </b>5</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    @*<span class="sr-only">Toggle navigation</span>*@
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/img/user/user1.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">Việt Sói</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- Userrrrrrrrrrrrrr -->
                                <li class="user-header">
                                    <img src="~/img/user/user1.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        Admin - Nguyễn Văn Việt
                                        <small>Noob</small>
                                    </p>
                                </li>

                                <!-- Menu User Body -->
                                <!-- <li class="user-body">
                                  <div class="row">
                                    <div class="col-xs-4 text-center">
                                      <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                      <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                      <a href="#">Friends</a>
                                    </div>
                                  </div>
                                </li> -->
                                <!-- Menu User Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Thông tin cá nhân</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="~/" class="btn btn-default btn-flat">Đăng xuất</a>
                                    </div>
                                </li>

                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--Content Leftttttttttttt-->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/img/user/user1.jpg" class="img-circle" alt="User Image">
                    </div>
                    <!-- aaa -->
                    <div class="pull-left info">
                        <p>Nguyễn Văn Việt</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header"> - - - - - </li>
                    <li class="active treeview">
                        <a href="#">
                            <i class="fa fa-external-link-square"></i> <span>Quản lý tài khoản</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="#"><i class="fa fa-circle-o"></i> Học viên</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Giảng viên</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-external-link-square"></i>
                            <span>Danh sách chức năng 2</span>
                            <span class="pull-right-container">
                                <span class="label label-primary pull-right">3</span>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Chức năng 1</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Chức năng 2</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Chức năng 3</a></li>
                        </ul>
                    </li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Righttttttttttttt -->
        <div class="content-wrapper">
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <!-- /.content-wrapper -->
        <!-- Footer -->
        <footer class="main-footer" style="background:#d2d6de">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2019 <a href="#">Nhóm </a> </strong>5.
        </footer>
        <!--End footer-->
    </div>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/adminlte.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
