
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <img style="width:100%;height:200px;" src="~/img/logo/3.jpg" alt="Alternate Text" />

<div id="content">
    <!--ContentLeft-->
    @RenderPage("~/Views/Shared/ContentLeft.cshtml")
    <!--End contentleft-->
    <div id="right">
        Đây là trang giới thiệu: việt sói bét janna
    </div>
</div>