@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Slide show-->
@RenderPage("~/Views/Shared/SlideShow.cshtml")
<!--End slide show-->

<div id="content">
    <!--ContentLeft-->
    @RenderPage("~/Views/Shared/ContentLeft.cshtml")
    <!--End contentleft-->    
    <div id="right">
        Chưa có nội dung
    </div>
</div>