@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="modal fade" id="FormAdd" role="dialog">
    <div class="modal-dialog">
        
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title" id="title"></h3>
            </div>
            <form role="form" name="formAddEdit" id="formAddEdit" method="POST">
                <div class="box-body">
                    <input type="hidden" id="ID">

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="inputMaSP">IDNoiDungKH</label>
                            <input type="text" class="form-control" id="IDNoiDungKH" name="IDNoiDungKH" placeholder="Nhập ID Nội Dung Khóa Học">
                        </div>
                        <div class="form-group">
                            <label for="inputTenSP">TenLop</label>
                            <input type="text" class="form-control" id="TenLop" name="TenLop" placeholder="Nhập tên lớp">
                        </div>
                        <div class="form-group">
                            <label for="inputGiaSP">SoHV</label>
                            <input type="text" class="form-control" id="SoHV" name="SoHV" placeholder="Số học viên ">
                        </div>
                        <div class="form-group">
                            <label for="inputGiaBSP">MaGV</label>
                            <input type="text" class="form-control" id="MaGV" name="MaGV" placeholder="Nhập mã giáo viên">
                        </div>
                    </div>
                    <div class="col-lg-6">

                    </div>

                </div>

                <div class="box-footer">
                    <span class="btn btn-primary" id="submit" onclick="AddOrEdit()"></span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Quản lý lớp </h3>
                <div id="thongbao" style="color:red"></div>
                <a class="btn btn-block btn-primary" style="float: right;width:auto;" onclick="Show(0)"><i class="fa fa-plus"></i> Thêm lớp </a>
            </div>

            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example" style="width:100%" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>ID Nội Dung Khóa Học </th>
                                        <th> Tên Lớp</th>
                                        <th> Số HV</th>
                                        <th> Mã GV</th>

                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/date.format.js"></script>
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            dataTable = $("#example").DataTable({
                "ajax": {
                    "url": "/Lop/DataTable",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "ID", "name": "ID" },
                    { "data": "IDNoiDungKH", "name": "IDNoiDungKH" },
                    { "data": "TenLop", "name": "TenLop" },

                    { "data": "SoHV", "name": "SoHV" },
                    { "data": "MaGV", "name": "MaGV" },

                    {
                        "data": "ID", "render": function (data) {
                            return "<a class='btn btn-default btn-sm' onclick = Show("+data+")><i class='fa fa-pencil'></i>Edit</a>" +
                                    "<a class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i> Delete</a>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "120px",
                    }
                ],
                "serverSide": "true",
                "processing": "true",
                "info": "true",
                "pagingType": "full_numbers",
                "lengthMenu": [[10, 20, 30, -1], [10, 20, 30, "All"]], //value,name
                "language": {
                    "info": "Trang _PAGE_ / _PAGES_",
                    "infoFiltered": "",
                    "search": "Tìm kiếm: ",
                    "lengthMenu": "Hiển thị _MENU_ dòng",
                    "paginate": {
                        "first": "Trang đầu",
                        "last": "Trang cuối",
                        "next": "Trang tiếp theo",
                        "previous": "Trang trước"
                    },

                }
            });
        });
        function Delete(id) {
            if (confirm('Đồng ý xóa ko ?')) {
                $.ajax({
                    type: "POST",
                    url: "/Lop/XoaLop",
                    data: { id: id },
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();
                            $("#thongbao").text(data.message);

                        }
                    }
                });
            }


        };
        function AddOrEdit(form) {
            var dataform = $("#formAddEdit").serialize();
            alert(dataform);
                $.ajax({
                    type: "POST",
                    url: "/Lop/ThemVaSuaLop",
                    data:  dataform ,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();
                            $("#thongbao").text(data.message);
                            $("#FormAdd").modal("hide");
                        }
                    }
                });



        };

        //Show modal
        function Show(ID) {
            if (ID == 0) {
                $("#ID").val(0); //= các id thẻ input.
                $("#IDNoiDungKH").val("viet");
                $("#TenLop").val("");
                $("#SoHV").val("");
                $("#MaHV").val("");

                var name = "Thêm lớp";
                $("#submit").text(name);
                $("#title").text(name);

                //Modal them
            }
            else {
                //Modal Sửa
                $.ajax({
                    type: "POST",
                    url: "/Lop/LayDSTheoID",
                    data: {
                        ID: ID
                    },
                    success: function (data) {
                        alert(data.list.ID);
                        if (data.success) {
                            $("#ID").val(data.list.ID);
                            $("#IDNoiDungKH").val(data.list.IDNoiDungKH);
                            $("#TenLop").val(data.list.TenLop);
                            $("#MaGV").val(data.list.MaGV);
                            //$("#NTNS").val("");

                            var name = "Sửa lớp";
                            $("#submit").text(name);
                            $("#title").text(name);
                        }
                    }
                });
            }
            $("#FormAdd").modal();
        };
    </script>
}