<div id="left">
    <div class="menu">
        <input type="checkbox" id="check1" />
        <label for="check1"><i class="fa fa-home"></i>Chức năng 1</label>
        <ul>
            <li><a href="#"> 1.1</a></li>
            <li><a href="#"> 1.2</a></li>
        </ul>
    </div>
    <div class="menu">
        <input type="checkbox" id="check2" />
        <label for="check2">Chức năng 2</label>
        <ul>
            <li><a href="#"><i class="fa fa-home"></i> 2.1</a></li>
            <li><a href="#"><i class="fa fa-home"></i> 2.2</a></li>
        </ul>
    </div>
</div>