
<div class="slideshow" id="slide">
    <div class="myslide fade">
        <img src="~/img/logo/3.jpg" />
        <div class="slidetext">
            Thông tin gì gì đó 1   <br />
            <a href="#">Click vào để xem chi tiết</a>
        </div>
    </div>
    <div class="myslide fade">
        <img src="~/img/logo/3.jpg" />
        <div class="slidetext">
            Thông tin gì gì đó 2   <br />
            <a href="#">Click vào để xem chi tiết</a>
        </div>
    </div>

    <a class="prev" onclick="prevAndnextSlide(-1)">&#10094;</a>
    <a class="next" onclick="prevAndnextSlide(1)">&#10095;</a>
</div>